.Cell {
    width: 60px;
    height: 60px;
}

.pointer {
    cursor: pointer;
}

.fullHeight {
    height: 100%;
}

.grey {
    background-color: beige ;
}

.greyer {
    background-color: grey;
}

.stepped {
    background-color: palevioletred;
}

.border-top {
    border-top: 2px black solid;
}

.border-bottom {
    border-bottom: 2px black solid;
}

.border-right {
    border-right: 2px black solid;
}

.border-left {
    border-left: 2px black solid;
}

